In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age','dob', 'height_cm',	'weight_kg', 'nationality', 'club']]

In [3]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## 1 Sample()

In [5]:
# extract 10 random elements from the "nationality" column
df['nationality'].sample(10)

short_name
F. Depaoli                         Italy
O. Kolář                  Czech Republic
M. Madsen                        Denmark
K. O'Hara            Republic of Ireland
O. Patla                           India
Vinícius Ferreira                 Brazil
Perera                             Spain
F. Rojas                           Chile
H. Winks                         England
Z. Dedič                        Slovenia
Name: nationality, dtype: object

In [6]:
# extract a random 20% sample of the dataframe
df.sample(frac=0.2)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
C. Hudson-Odoi,Callum Hudson-Odoi,18,2000-11-07,177,75,England,Chelsea
Roberto,Roberto Jiménez Gago,33,1986-02-10,192,94,Spain,West Ham United
C. Bîrnoi,Cosmin Bîrnoi,21,1997-08-17,181,72,Romania,Politehnica Iaşi
R. Murawski,Radosław Murawski,25,1994-04-22,173,70,Poland,Denizlispor
S. Nealis,Sean Nealis,22,1997-01-13,194,82,United States,New York Red Bulls
...,...,...,...,...,...,...,...
J. Salcedo,Juan José Salcedo,26,1993-05-27,176,68,Colombia,Once Caldas
J. Pirinen,Juha Pirinen,27,1991-10-22,184,81,Finland,Tromsø IL
Kang Sang Woo,강상우 姜祥佑,25,1993-10-07,176,62,Korea Republic,Sangju Sangmu FC
R. Meggiorini,Riccardo Meggiorini,33,1985-09-04,182,78,Italy,Chievo Verona
M. Westergaard,Magnus Hee Westergaard,21,1998-05-27,187,75,Denmark,Lyngby BK

In [7]:
# upsample: increase the sampling rate -> frac>1 (Note: replace patameter has to be True for frac parameter > 1)
df.sample(frac=2, replace=True)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
G. Dulanto,Gustavo Dulanto,23,1995-09-05,194,89,Peru,Boavista FC
Y. Goke,郷家 友太,20,1999-06-10,183,74,Japan,Vissel Kobe
H. Palacios,Helibelton Palacios Zapata,26,1993-06-11,180,76,Colombia,Atlético Nacional
J. Lauridsen,Jesper Alkærsig Lauridsen,28,1991-03-27,180,78,Denmark,Esbjerg fB
U. Meraş,Umut Meraş,23,1995-12-20,178,74,Turkey,Le Havre AC
...,...,...,...,...,...,...,...
M. van der Hart,Mickey van der Hart,25,1994-06-13,188,87,Netherlands,Lech Poznań
J. Marx,Jan Hendrik Marx,24,1995-04-26,171,69,Germany,SV Waldhof Mannheim
Casemiro,Carlos Henrique Venancio Casimiro,27,1992-02-23,185,84,Brazil,Real Madrid
M. Russ,Marco Russ,33,1985-08-04,190,88,Germany,Eintracht Frankfurt
J. Kubicki,Jarosław Kubicki,23,1995-08-07,180,70,Poland,Lechia Gdańsk